body {
  font-family: sans-serif;
  background-color: #eee;
  color: #333;
}

h1 {
  font-size: 1.5em;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: '👉';
}

li {
  padding-left: 0.5em;
}